@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-100:#66CCFF;

  --accent-100:#1B50E4;

  --text-100:#FFFFFF;
  --text-200:#c5c5c5;
  --text-300:#000000;

  --bg-100:#000000;
  --bg-200:#1A1A1A;

  --light:#FFFFFF;
  --dark:#000000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary-100:#003366;
    --primary-200:#3f5c94;
    --primary-300:#a1b8f8;
    --accent-100:#66CCFF;
    --accent-200:#006d9b;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#1A1A1A;
    --bg-200:#292929;
    --bg-300:#404040;
  }
} */

.body {
  color: var(--text-100);
  background: var(--bg-100);
}

@layer utilities {
  /* Back Ground */
  .bg-100 {
    background-color: var(--bg-100);
  }
  .bg-200 {
    background-color: var(--bg-200);
  }
  .bg-primary-100 {
    background-color: var(--primary-100);
  }
  .bg-accent-100 {
    background-color: var(--accent-100);
  }
  .bg-light {
    background-color: var(--light);
  }
  .bg-dark {
    background-color: var(--dark);
  }

  /* Text */
  .text-100 {
    color: var(--text-100)
  }
  .text-200 {
    color: var(--text-200)
  }
  .text-300 {
    color: var(--text-300)
  }
  .text-primary-100 {
    color: var(--primary-100)
  }
  .text-light {
    color: var(--light)
  }
  .text-dark {
    color: var(--dark)
  }

  /* Border */
  .border-light {
    --tw-border-opacity: 1;
    border-color: rgba(var(--light), var(--tw-border-opacity));
  }
  .border-dark {
    --tw-border-opacity: 1;
    border-color: rgba(var(--dark), var(--tw-border-opacity));
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%); /* Adjust this value to control the scrolling distance */
  }
}

.image-scroll {
  animation: scroll 10s linear infinite;
}